.button {
    font: inherit;
    border: 1px solid #4f005f;
    width: 100%;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
}


.button:hover, .button:active {
    background: #781188;
    border-color: #781188;
}

.button:focus {
    outline: none;
}

@media (min-width: 748px) {
    .button {
        width: 7rem;
    }
}