.cart {
    width: 70vw;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.separator {
    margin-top: 1rem;
    border-bottom: 3px solid #8a2b06;
}

.amount {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}
