.card {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 80%;
    margin: 1rem auto;
    background-color: white;
    overflow: auto;
}

@media (min-width: 748px) {
    .card {
        width: 60%;
    }
}
