.mealForm {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.mealForm button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 1rem;
}

.mealForm button:hover,
.mealForm button:active {
    background-color: #641e03;
    border-color: #641e03;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input label {
    font-weight: bold;
    margin-right: 1rem;
}

.input input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
}

.meal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}
